.content {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

.sidebar {
    width: 250px;
    background: #333;
    color: white;
    padding: 10px;
    overflow-y: auto;
    position: fixed;
    height: 100%;
    left: -300px;
    transition: 0.3s;
}

.sidebar button {
    display: block;
    width: 100%;
    background: none;
    color: white;
    border: none;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.sidebar button:hover {
    background: #555;
}

.toggle-btn {
    background: #007BFF;
    color: white;
    padding: 10px;
    margin-left: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    align-self: start;
}

.pdf-container {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow: hidden;
}

canvas {
    max-width: 100%;
    height: auto;
}

.controls {
    margin-top: 20px;
    display: flex;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

a, a:visited, a:hover {
    color: white;
    font-weight: normal;
}

#page-number {
    width: 35px;
    height: 18px;
    border: 2px solid rgb(32, 32, 32);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

#page-indicator {
    margin-top: 10px;
    font-weight: bold;
}

.fullscreen .pdf-container {
    width: 80vw;
    height: 80vh;
}